@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root{
  --bg: #0984e3;
  --bg-light: #74b9ff;
  --white: white;
  --hover: #ffff00;
  --light: #ff0031;
  --text: #2d3436;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 13px;
}

li, a, button {
  font-family: sans-serif;
  font-weight: 500;
  text-decoration: none;
  color: var(--text);
}


